body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

nav {
    height: 10%;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    background-color: green;
}

main {
    height: 80%;
    width: 100%;
}

footer {
    height: 10%;
    width: 100%;
}

.nav-row-1 {
    display: flex;
    justify-content: center;
}

.img-nav-link {
    width: 100px;
    justify-self: flex-start;
}
.nav-img {
    width: 100px;
}

.user-nav-container {
    display: flex;
    justify-self: flex-end;
}

.user-links {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    list-style: none;
    display: flex;

}

.user-links a{
    margin-left: 10px;
}

li a {
    text-decoration: none;
}


.nav-links {
    margin: 0.5rem 0rem;
    list-style: none;
    display: flex;
}
.nav-links a{
    margin-left: 10px;
}